{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}
    <h1>{{_('Hi, %(username)s. Welcome to microblog!', username=current_user.username)}}</h1>
    {% if form %}
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    {% endif %}
    <hr>
    {% for post in posts %}
        <p>
            {% include "_post.html" %}
        </p>
    {% endfor %}
    {% include "page_slider.html" %}
{% endblock %}